ul {
	position: relative;
	width: 100%;
	max-height: 230px;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 15px;
}

ul li {
	position: relative;
	color: #ccc;
	padding: 10px 50px 10px 12px;
	list-style-type: symbols;
	font-size: 12pt;
	line-height: 24pt;
	font-weight: 500;
	margin: 0px 60px 0px 0px;
	text-shadow: 1px 1px 0px black, 2px 2px 0px black;
	transition: all 0.1s linear;
}

ul li::after {
	position: absolute;
	bottom: 5px;
	right: 10%;
	width: 100%;
	height: 2px;
	background: #111;
	content: "";
	transition: all 0.2s ease-in-out;
}

ul li:hover::after {
	right: -20%;
	transition: all 0.2s ease-in-out;
}

ul li:hover {
	background: #ccc;
	color: black;
	cursor: pointer;
	text-shadow: none;
	transition: all 0.1s linear;
}
